[data-theme="dark"] {
  background-color: #222 !important;
  color: #eee;
}

[data-theme="dark"] .bg-light {
  background-color: #333 !important;
}

[data-theme="dark"] .bg-white {
  background-color: #000 !important;
}

[data-theme="dark"] .bg-black {
  background-color: #eee !important;
}

[data-theme="dark"] .card {
  background-color: #303030;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

[data-theme="dark"] .card-deck {
  background-color: #303030;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

[data-theme="dark"] .cardbox {
  background-color: #303030;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

[data-theme="dark"] .card-header {
  background-color: #303030;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

[data-theme="dark"] .card-body {
  background-color: #303030;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
